    {% extends "layout/pengunjung/base_pengunjung.html" %}
    
    {% load static %}
    {% load humanize %}
    
    {% block extrastyle %}
    <link rel="stylesheet" href="{% static 'assets_page/plugins/toastr/toastr.min.css'%}">
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/select2/3.5.2/select2.css">
    <style type="text/css">
        #navbar-hide{ display:none; }
        label{
            font-size: small;
        }
        html, body {margin: 0; height: 100%; overflow: hidden}
        form{
          font-size: medium;
        }
    </style>
    {% endblock extrastyle %}
    
    {% block content %}
    <section class="content-header">
        <div class="card">
            <div class="card-header" style="text-align: center;">
                <h4><b>Ubah Harga {{harga.nama_sembako}}</b></h4>
                <h5>tanggal: {{harga.tanggal}}</h5>
            </div>
            <div class="card-body">
                <form method="POST" action="{% url 'update_harga' pk=harga.pk %}">
                    {% csrf_token %}
                    {{form.as_p}}
                    <div style="text-align: center;">
                        <button type="submit" class="btn btn-s" style="background-color:#417690; color: white;">Simpan</button>
                        <button type="button" class="btn btn-s" style="background-color:#79aec8; color: white;" onclick="return window.close();">Batal</button>
                    </div>
                </form>
            </div>
        </div>
    </section>
    {% endblock content %}
    
    {% block extrajs %}
    <script type="text/javascript" src="http://cdn.jsdelivr.net/select2/3.4.6/select2.min.js"></script>
    <script>
        $('#id_nama_sembako').select2({
            theme: "bootstrap 4"
        });

        function btn_simpan() {
          window.onunload = refreshParent;
          function refreshParent() {
            window.opener.location.replace("{% url 'list_harga_sembako' %}");
          }
          window.close()
        }

        const swalWithBootstrapButtons = Swal.mixin({
            buttonsStyling: true
          })

        $(document).ready(function() {
            $("form").submit(function() {
                swal.fire({
                    title: 'Apakah Anda Yakin?',
                    text: "",
                    icon: 'question',
                    showCancelButton: true,
                    confirmButtonText: 'Ya',
                    confirmButtonColor:'#417690',
                    cancelButtonText: 'Tidak',
                    cancelButtonColor: '#79aec8',
                    reverseButtons: false
                  }).then((result) => {
                    if (result.value) {
                    $.post($("form").attr('action'), $("form").serializeArray());
                      swal.fire({
                        icon: 'success',
                        title: 'Data Berhasil diubah',
                        showConfirmButton: false,
                        timer: 1500
                      }).then(function() {
                        btn_simpan();
                      })
                    } else if (
                      result.dismiss === Swal.DismissReason.cancel
                    ) {
                      swal.fire(
                        'Batal',
                        '',
                        'error'
                      )
                    }
                  })
              return false;
            });
          });
    </script>
    {% endblock extrajs %}