    {% extends "layout/pengunjung/base_pengunjung.html" %}
    
    {% load static %}
    {% load humanize %}
    
    {% block extrastyle %}
    <link rel="stylesheet" href="{% static 'assets_page/plugins/toastr/toastr.min.css'%}">
    <style type="text/css">
        #navbar-hide{ display:none; }
        label{
            font-size: small;
        }
        html, body {margin: 0; height: 100%; overflow: hidden}
    </style>
    {% endblock extrastyle %}
    
    {% block content %}
    <section class="content-header">
        <div class="card">
            <div class="card-header" style="text-align: center;">
                <h4><b>Ubah Harga Bahan Pokok {{harga.nama_sembako}}</b></h4>
            </div>
            <div class="card-body">
                <form method="POST" action="{% url 'update_harga' pk=harga.pk %}">
                    {% csrf_token %}
                    {{form.as_p}}
                    <div style="text-align: center;">
                        <button type="button" class="btn btn-warning btn-s" onclick="return window.close();">Batal</button>
                        <button type="input" class="btn btn-primary btn-s" onclick="return btn_simpan();">Simpan</button>
                    </div>
                </form>
            </div>
        </div>
    </section>
    {% endblock content %}
    
    {% block extrajs %}
    {% comment %} <script src="{% static 'DataTables/datatables.min.js' %}"></script> {% endcomment %}
    <script src="{% static 'assets_page/plugins/datatables/jquery.dataTables.js'%}"></script>
    <script src="{% static 'assets_page/plugins/datatables-bs4/js/dataTables.bootstrap4.js'%}"></script>
    <script>
        $('#id_tanggal').datepicker({
            format : "yyyy-mm-dd",
            autoclose: true
        });
        
        function btn_simpan() {
            window.onunload = refreshParent;
            function refreshParent() {
                window.opener.location.replace("{% url 'list_harga_sembako' %}");
            }
            window.close()
        }
    </script>
    {% endblock extrajs %}