{% extends "layout/pengunjung/base_pengunjung.html" %}

{% load static %}
{% load humanize %}
{% block extrahead %}
{% endblock extrahead %}
{% block extrastyle %}
<link rel="stylesheet" href="{% static 'DataTables/datatables.min.css' %}">
<link rel="stylesheet" href="{% static 'assets_page/plugins/toastr/toastr.min.css'%}">
<link rel="stylesheet" href="https://cdn.datatables.net/responsive/2.2.3/css/responsive.dataTables.min.css">
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/select2/3.5.2/select2.css">
<style>
    .dataTables_filter {
        float: left !important;
    }
    .table th {  
        max-width:100%;
        white-space: nowrap; 
    }
    .table td {  
        max-width:100%;
        white-space: nowrap; 
    }
    .isDisabled {
        color: currentColor;
        cursor: not-allowed;
        opacity: 0.5;
        text-decoration: none;
    }
    
    @media screen and (max-width: 750px) {
        .tabel{
            display:block;
            height : 450px;
            overflow-y : scroll;
        }
        .dataTables_filter {
            float: right !important;
            position: relative;
            right: 29%; /* or right 50% */
            text-align: left;
        }
        .kecil{
            font-size: 9px;
        }
    }
    @media screen and (max-width: 450px) {
        .tabel{
            display:block;
            height : 450px;
            overflow-y : scroll;
        }
        .dataTables_filter {
            float: right !important;
            position: relative;
            right: 5%; /* or right 50% */
            text-align: left;
        }
        .kecil{
            font-size: 8px;
        }
    }
</style>
{% endblock extrastyle %}
{% block content %}
<section class="content-header">
    <div class="card">
        <div class="card-header">
            <div class="d-flex justify-content-between">
                <h3 class="card-title"><b>Daftar Harga Bahan Pokok di {{request.session.pasar}}</b></h3>
                <div class="float-right">
                    <button class="btn btn-xs" data-toggle="modal" style="background-color:#417690; color: white;" data-target="#exampleModal1"><i class="fa fa-plus"></i> Harga</button>
                </div>
            </div>
        </div>
        <div class="card-body">
            {% if penambahan %}
            {% for i in penambahan %}
            <h5 class="alert alert-success" style="text-align: center;" >Berhasil Menambah Data Harga {{i.sembako}} di tanggal {{i.tanggal|date:"j F Y"}} </h5>
            {% endfor %}
            {% endif %}
            {% if perubahan %}
            {% for i in perubahan %}
            <h5 class="alert alert-success" style="text-align: center;" >Berhasil Merubah Data Harga {{i.sembako}}</h5>
            {% endfor %}
            {% endif %}
            <div class="table-responsive" style="width: 100%;">
                <table class="table cell-border" id ="myTable">
                    <thead>
                        <tr>
                            <th class="kecil" style="text-align:center;"> No </th>
                            <th class="kecil" style="text-align:center;"> Tanggal </th>
                            <th class="kecil" style="text-align:center;"> Nama Barang</th> 
                            <th class="kecil" style="text-align:center;"> Harga </th> 
                            <th class="kecil" style="text-align:center;"> Status </th>
                            <th class="kecil" style="text-align:center;"> Aksi </th> 
                        </tr>
                    </thead>
                    <tbody>
                        {% if harga %}
                        {% for list_harga in harga %}
                        <tr>
                            <td class="kecil"  style="text-align: center;">{{forloop.counter}}</td>
                            <td class="kecil" >{{list_harga.tanggal|date:"l"}} , {{list_harga.tanggal|date:"j F Y"}}</td>                        
                            <td class="kecil" id="nm_smbk">{{list_harga.nama_sembako}}</td>
                            <td class="kecil" >Rp{{list_harga.nominal|intcomma}},00.</td>
                            {% if list_harga.validasi == "1" %}
                            <td class="kecil" >Sudah di Validasi</td>
                            <td class="kecil"  style="text-align: center;"><a class="btnbtn-sm btn-xs isDisabled" style="background-color:#417690; color: white;"><i class="fa fa-edit"></i> Ubah</a></td>
                            {% elif list_harga.validasi == "3" %}
                            <td class="kecil" >Menunggu Validasi</td>
                            <td class="kecil"  style="text-align: center;"><a class="btn btn-sm btn-xs" style="background-color:#417690; color: white;" href="{% url 'update_harga' pk=list_harga.pk %}" target="_blank" onclick="return windowpop(this.href, 545, 433)"> <i class="fa fa-edit"></i> Ubah</a></td>
                            {% elif list_harga.validasi == "2" %}
                            <td class="kecil" >Ditolak</td>
                            <td class="kecil" style="text-align: center;"><a class="btn btn-sm btn-xs" style="background-color:#417690; color: white; " href="{% url 'update_harga' pk=list_harga.pk %}" target="_blank" onclick="return windowpop(this.href, 545, 433)"> <i class="fa fa-edit"></i> Ubah</a></td>
                        </tr>
                        {% endif %}
                        {% endfor %}
                        {% else %}
                        <tr>
                            <td class="kecil" colspan="6"><center>Tidak ada data harga di {{request.session.pasar}} Hari ini</center></td>
                        </tr>
                        {% endif %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>
<!-- Button trigger modal -->
<!-- Modal -->
<div class="modal fade" id="exampleModal1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 style="font-size: larger;" class="modal-title w-100 text-center" id="exampleModalLabel">Tambah Harga di {{request.session.pasar}}</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form method="POST" name="form-tambah">
                    {% csrf_token %}
                    <input type="text" hidden id="idpasar" value="{{request.session.idpasar}}">
                    <input type="text" hidden id="tanggals" value="{% now "SHORT_DATE_FORMAT" %}">
                    <table class="table table-bordered tabel" style="width: 100%;">
                        <thead>
                            <tr>
                                <th style="text-align: center;">Nama Bahan Pokok</th>
                                <th style="text-align: center;">Harga Kemarin</th>
                                <th style="text-align: center;">Harga Sekarang</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for i in kemarin %}
                            <tr>
                                <td class="align-middle">{{i.nama_sembako}}</td>
                                <td class="align-middle">Rp{{i.nominal|intcomma}},00.</td>
                                <td id="hargasekarang" class="align-middle">
                                    <input type="number" class="form-control" name="harga" style="text-align: right;"  onkeypress="return (event.charCode == 8 || event.charCode == 0 || event.charCode == 13) ? null : event.charCode >= 48 && event.charCode <= 57" value="{{i.nominal}}">
                                    <input type="text" hidden name="id" value="{{i.nama_sembako.id}}">
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div class="modal-footer">
                    <button type="submit" id="submit" class="btn" style="background-color:#417690; color: white;">Simpan</button>
                    <button type="button" class="btn" style="background-color:#79aec8; color: white;" data-dismiss="modal">Batal</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock content %}

{% block extrajs %}
<script src="{% static 'DataTables/datatables.min.js' %}"></script>
<script src="{% static 'assets_page/plugins/datatables/jquery.dataTables.js'%}"></script>
<script src="https://cdn.datatables.net/responsive/2.2.3/js/dataTables.responsive.min.js"></script>
<script type="text/javascript" src="http://cdn.jsdelivr.net/select2/3.4.6/select2.min.js"></script>
<script>
    $('#mySelect').select2({
        theme: "bootstrap 4"
    });
    $('#id_nama_sembako').select2({
        theme: 'bootstrap4'
    });
    $.ajaxSetup({ 
        beforeSend: function(xhr, settings) {
            function getCookie(name) {
                var cookieValue = null;
                if (document.cookie && document.cookie != '') {
                    var cookies = document.cookie.split(';');
                    for (var i = 0; i < cookies.length; i++) {
                        var cookie = jQuery.trim(cookies[i]);
                        // Does this cookie string begin with the name we want?
                        if (cookie.substring(0, name.length + 1) == (name + '=')) {
                            cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                            break;
                        }
                    }
                }
                return cookieValue;
            }
            if (!(/^http:.*/.test(settings.url) || /^https:.*/.test(settings.url))) {
                // Only send the token to relative URLs i.e. locally.
                xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
            }
        } 
    });
    $("#submit").click(function(e){
        e.preventDefault()
        $("head").append("<meta http-equiv='refresh' content=0'>");
        var globaljson = [];
        var a = document.getElementById("tanggals").value
        var b = document.getElementById("idpasar").value
        var y = a.slice("-")
        var y = a.split("-")
        
        var tanggal = y[2] + "-" +y[1] + "-" +y[0]
        
        function GetHarga(tanggal, nominal, validasi,nama_sembako,nama_pasar) {
            this.tanggal = tanggal
            this.nominal = nominal
            this.validasi = validasi
            this.nama_sembako = nama_sembako
            this.nama_pasar = nama_pasar
        }
        
        var id = [];
        $('input[name="id"]').each( function() {
            id.push(this.value);
        });
        var harga = [];
        $('input[name="harga"]').each( function() {
            harga.push(this.value);
        });
        
        var tanggals = []
        for (i = 1; i < harga.length+1; i++) {
            tanggals.push(tanggal)
        };
        var validasis = []
        for (i = 1; i < harga.length+1; i++) {
            validasis.push("3")
        };
        var idpasar = []
        for (i = 1; i < harga.length+1; i++) {
            idpasar.push(b)
        };
        
        listharga = new Array();
        for(i = 0; i < harga.length;i++){
            listharga.push(new GetHarga(tanggals[i],harga[i],validasis[i],id[i],idpasar[i]));
        };
        
        for (i = 0; i < listharga.length; i++) {
            var dict = {}
            dict['Tanggal'] = listharga[i].tanggal
            dict['Nominal'] = listharga[i].nominal
            dict['Validasi'] = listharga[i].validasi
            dict['Nama_Sembako'] = listharga[i].nama_sembako
            dict['Nama_Pasar'] = listharga[i].nama_pasar
            globaljson[i] = dict
        }
        
        function task(i) { 
            setTimeout(function() { 
                console.log(i); 
            }, 1000 * i); 
        } 
        for(i=0; i<globaljson.length;i++){
            $.ajax({
                url: '{% url 'listharga' %}',
                type: 'post',
                beforeSend: function (xhr, settings) {
                    xhr.setRequestHeader("X-CSRFToken", '{{ csrf_token }}');
                },
                dataType: "json",
                contentType: "application/json",
                data: JSON.stringify({
                    "tanggal":globaljson[i]["Tanggal"],
                    "nominal":globaljson[i]["Nominal"],
                    "validasi":globaljson[i]["Validasi"],
                    "nama_sembako":globaljson[i]["Nama_Sembako"],
                    "nama_pasar":globaljson[i]["Nama_Pasar"]
                }),
                success: function() {
                    event.preventDefault()
                    location.reload();
                },
            });
        };
    });
    
    function myFunction() {
        var x = document.getElementById("mySelect").value;
        var y = x.split("|");
        var a = y[0];
        var b = y[1];
        var c = y[2];
        document.getElementById('semid1').value = a
        document.getElementById('sembako_id').value = b
        document.getElementById('nominal_id').value = c
    };
    
    var table = $('#myTable').DataTable({
        "paging": true,
        "lengthChange": false,
        "searching": true,
        "ordering": false,
        "info": true,
        "autoWidth": true,
        responsive: true,
        "columnDefs": [{ 
            "searchable": false, 
            "targets": [ 0, 1 , 3 , 4 , 5 ] 
        }],
        language: {
            searchPlaceholder: "Nama Barang"
        },
    });
    
    function windowpop(url, width, height) {
        var leftPosition, topPosition;
        //Allow for borders.
        leftPosition = (window.screen.width / 2) - ((width / 2) + 10);
        //Allow for title and status bars.
        topPosition = (window.screen.height / 2) - ((height / 2) + 50);
        //Open the window.
        window.open(url, "Window2", "status=no,height=" + height + ",width=" + width + ",left=" + leftPosition + ",top=" + topPosition + ",screenX=" + leftPosition + ",screenY=" + topPosition + ",toolbar=no,menubar=no,scrollbars=no,location=no,directories=no");
        event.preventDefault();
    }
</script>
{% endblock extrajs %}