{% extends "layout/pengunjung/base_pengunjung.html" %}
{% load static %}
{% load humanize %}

{% block extrastyle %}
<link href='https://api.mapbox.com/mapbox-gl-js/v1.8.0/mapbox-gl.css' rel='stylesheet' />
<link rel="stylesheet" href="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v4.4.2/mapbox-gl-geocoder.css" type="text/css" />
{% endblock extrastyle %}

{% block content %}
<section class="content-header">
    <div style="text-align: center;">
        <h3 class="judul">SELAMAT DATANG DI SISTEM INFORMASI SEMBILAN HARGA BAHAN POKOK</h3>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/es6-promise@4/dist/es6-promise.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/es6-promise@4/dist/es6-promise.auto.min.js"></script>
    <div id='map' style='width: 100%; height: 600px;'></div>
    <form id="myform" method="post" action="{% url 'index' %}">
        {% csrf_token %}
        <input type="hidden" name="tanggal" value="{% now 'Y-m-d' %}"/>
        <input type="hidden" id="nama_pasar" name="nama_pasar"/>
        <a href="#" name="submit"></a>
    </form>
</section>
{% endblock content %}

{% block extrajs %}
<script src='https://api.mapbox.com/mapbox-gl-js/v1.8.0/mapbox-gl.js'></script>
<script src="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v4.4.2/mapbox-gl-geocoder.min.js"></script>
<script>
    var options = {
        enableHighAccuracy: true
    };
    
    function success(pos) {
        crd = pos.coords;
        loadMap(crd.longitude,crd.latitude);
    };
    
    function error(err) {
        console.log('ERROR');
        loadMap(111.999458, -7.817179);
    };
    
    navigator.geolocation.getCurrentPosition(success, error, options);
    var geojson = {
        'type': 'FeatureCollection',
        'features': [
        {% for list in pasar %}
        {
            'type': 'Feature',
            'properties': {
                'id_pasar':'{{list.id}}',
                'nama_pasar':'{{list.nama_pasar}}',
                'description':
                '<br>{{list.alamat}}, Kel.{{list.kel}}, Kec.{{list.kec}}. <br>{{list.tlp}} <br><strong>Harga Bahan Pokok Hari Ini</strong><marquee scrollamount="4">{% if not list.harga %}Tidak ada data harga sembako hari ini{% else %}{% for a in list.harga %}({{a.nama_sembako}} <=> {{a.harga|intcomma}},00.), {% endfor %}{% endif %}</marquee><br>',
                'icon': 'grocery'
                
            },
            'geometry': {
                'type': 'Point',
                'coordinates': [{{list.lng}},{{list.lat}}]//(longitude,lalitude)
            }
        },
        {% endfor %}
        ]
    };
    function loadMap(lng,lat) {
        mapboxgl.accessToken = '{{api}}';
        var map = new mapboxgl.Map({
            container: 'map', // container id
            style: 'mapbox://styles/mapbox/streets-v11', // stylesheet location
            center: [lng,lat], // starting position [lng, lat]
            zoom: 13 // starting zoom
        });
        map.on('load', function() {
            map.addSource(
            'places', {
                'type': 'geojson',
                'data': geojson
            }
            ),
            
            // Add a layer showing the places.
            map.addLayer({
                'id': 'places',
                'type': 'symbol',
                'source': 'places',
                'layout': {
                    'text-field': ['get', 'nama_pasar'],
                    'text-size': 10,
                    'text-offset': [0, 0.6],
                    'text-anchor': 'top',
                    'icon-image': '{icon}-15',
                    'icon-allow-overlap': true
                }
            });
            
            // Create a popup, but don't add it to the map yet.
            var popup = new mapboxgl.Popup({
                closeButton: false,
                closeOnClick: true,
                minWidth: 80,
                maxWidth: window.innerWidth - 300,
            }).setMaxWidth("350px");
            
            //console.log(screen.width);
            map.on('mouseenter', 'places', function(e) {
                map.getCanvas().style.cursor = 'pointer';
                map.scrollZoom.enable();
            });

            map.on('click', 'places', function(e) {
                map.flyTo({ center: e.features[0].geometry.coordinates ,zoom: 15 });
                // Change the cursor style as a UI indicator.
                var coordinates = e.features[0].geometry.coordinates.slice();
                var description = e.features[0].properties.description;
                var id = e.features[0].properties.id_pasar;
                
                // Ensure that if the map is zoomed out such that multiple
                // copies of the feature are visible, the popup appears
                // over the copy being pointed to.
                while (Math.abs(e.lngLat.lng - coordinates[0]) > 180) {
                    coordinates[0] += e.lngLat.lng > coordinates[0] ? 360 : -360;
                }
                
                // Populate the popup and set its coordinates
                // based on the feature found.
                popup
                .setLngLat(coordinates)
                .setHTML(Objects(e))
                .addTo(map);

                document.getElementById('btn-submit').addEventListener('click', function() {
                    document.getElementById("nama_pasar").setAttribute("value",id)
                    document.getElementsByName("submit").onclick = document.forms[0].submit();
                });
            });
            
            map.on('mouseleave', 'places', function() {
                map.getCanvas().style.cursor = '';
                map.scrollZoom.disable();
            });     
        });
        function Objects(e) {
            var html = '';
            html += "<strong><center><font size='3'>" + e.features[0].properties.nama_pasar + "</font></center></strong>" + e.features[0].properties.description;
            html += "<button class='btn btn-secondary btn-block' id='btn-submit' value='Detail'>Detail</button>";
            return html;
        }
        map.addControl(new MapboxGeocoder({
            accessToken: mapboxgl.accessToken,
            mapboxgl: mapboxgl
        })
        );
        map.addControl(new mapboxgl.FullscreenControl());
        map.addControl(new mapboxgl.NavigationControl());
        map.addControl(new mapboxgl.GeolocateControl({
            positionOptions: {
                enableHighAccuracy: true
            },
            trackUserLocation: true,
        })
        );
    }
    // Add geolocate control to the map.
</script>
{% endblock extrajs %}