{% extends  "layout/pengunjung/base_pengunjung.html" %}

{% load static %}

{% block extrastyle %}
<link rel="stylesheet" href="/static/assets/bootstrap/css/bootstrap-select.css">
<style>

    @media screen and (max-width: 450px) {
        h3 {
            font-size: x-large;
        }
    }
</style>
{% endblock%}

{% block content %}

<section class="content-header">
    <!-- Horizontal Form -->
    <center>
        <div class="card col-md-5" style="text-align: left;">
            <div class="card-body">
                <div class="box box-primary col-md-12">
                    <div class="box-header with-border">
                        <h3 class="box-title"><i class="fa fa-user"></i> Profil <b> - {{ request.session.nama }}</b></h3>
                    </div>
                    <!-- /.box-header -->
                    <!-- form start -->
                    <div class="col-md-12 col-xs-12 col-lg-12">     
                        <br>   
                        <form class="form-horizontal" method="POST">
                            {% csrf_token %}
                            <div class="box-body">
                                <div class="form-group">
                                    <label for="nama" class="col-sm-6 control-label">Nama: </label>
                                    <div class="col-sm-10">
                                        {{user.nama}}
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="first_name" class="col-sm-6 control-label">Jenis Kelamin: </label>
                                    <div class="col-sm-10">
                                        {{user.get_jenis_kelamin_display}}
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="first_name" class="col-sm-6 control-label">Tempat Tanggal lahir: </label>
                                    <div class="col-sm-10">
                                        {{user.tempat_lahir}}, {{user.Tanggal_lahir|date:"j F Y"}} 
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="first_name" class="col-sm-6 control-label">Alamat: </label>
                                    <div class="col-sm-10">
                                        {{user.alamat}}
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="first_name" class="col-sm-6 control-label">Pasar: </label>
                                    <div class="col-sm-10">
                                        {{user.pasar.nama_pasar}}
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="first_name" class="col-sm-6 control-label">Nomor Telepon: </label>
                                    <div class="col-sm-10">
                                        {{user.No_hp}}
                                    </div>
                                </div>
                                <!-- <div class="col-md-offset-3 col-xs-offset-3 col-lg-offset-3"> -->
                                    <div class="form-group" style="text-align: center;">
                                        <a href="{% url 'index' %}" type="button" class="btn btn-primary">Kembali</a>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </center>
    </section>
    {% endblock %}
    {% block extrajs%}
    <script src="/static/assets/bootstrap/js/bootstrap-select.js"></script>
    <script>
        $('input').attr('readonly',true);
        $('textarea').attr('readonly',true);
    </script>
    {% endblock %}