{% extends  "layout/pengunjung/base_pengunjung.html" %}

{% load static %}

{% block extrastyle %}
<link rel="stylesheet" href="/static/assets/bootstrap/css/bootstrap-select.css">
<style>
    @media (max-width: 450px) {
        #div {
            top: 50%; /* IMPORTANT */
            left: 50%; /* IMPORTANT */
            display: block;
            position: absolute;
            width: 450px;
            height: 100%;
            
            margin-top: -208.5px; /* HALF OF THE HEIGHT */
            margin-left: -375px; /* HALF OF THE WIDTH */
        }
        div.card{
            width: 380px;
        }
    }
</style>
{% endblock%}

{% block content %}

<section class="content-header">
    <div class="card">
        <div class="card-body">
            <h3 class="card-title"><i class="fa fa-edit"></i> Ubah Password <b> - {{ request.session.nama.split | first }}</b></h3>
            <form class="form-horizontal" action="{% url 'changepassword' pk=user.pk %}" method="POST">
                {% csrf_token %}
                <p class="card-text">
                    <div class="form-group">
                        <label for="username" class="col-sm-4 control-label">{{form.username.label}}: </label>
                        <div class="col-sm-12">
                            {{form.username}}
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="first_name" class="col-sm-4 control-label">{{form.password.label}}: </label>
                        <div class="col-sm-12">
                            {{form.password}}
                            <input type="checkbox" onclick="myFunction()">Show Password
                        </div>
                    </div>
                </p>
                <div style="text-align: center;">
                    <button type="button" class="btn btn-warning"  data-toggle="modal" data-target="#myModal">Ubah</button>
                    <input type="button" class="btn btn-primary" value="Batal" onclick="window.location=document.referrer;">
                </div>
                <div class="modal fade" id="myModal" style="display: none;">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4 class="modal-title" style="margin: 0 auto;">Konfirmasi Ubah Password</h4>
                            </div>
                            <div class="modal-body">
                                <p>Apakah anda yakin ingin mengubah password anda ?</p>
                            </div>
                            <div class="modal-footer">
                                <input type="submit" value="Ubah" class="btn btn-warning"></input>
                                <button type="button" class="btn btn-primary" data-dismiss="modal">Tidak</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>            
        </div>
    </div>
</section>
{% endblock %}
{% block extrajs%}
<script src="/static/assets/bootstrap/js/bootstrap-select.js"></script>
<script>
    $('#id_username').attr('readonly',true);
    function myFunction() {
        var x = document.getElementById("id_password");
        if (x.type === "password") {
            x.type = "text";
        } else {
            x.type = "password";
        }
    }
</script>
{% endblock %}