{% extends  "layout/pengunjung/base_pengunjung.html" %}

{% load static %}

{% block extrastyle %}
<link rel="stylesheet" href="/static/assets/bootstrap/css/bootstrap-select.css">
<style>
    @media (max-width: 450px) {
        h3 {
            font-size: x-large;
        }
        label {
            font-size: medium;
        }
    }
</style>
{% endblock%}

{% block content %}

<section class="content-header">
    <center>
        <div class="card col-md-5" style="text-align: left;">
            <div class="card-body">
                <div class="box box-primary col-md-12">
                    <div class="box-header with-border">
                        <h3 class="box-title" style="text-align:center;"><i class="fa fa-edit"></i> Ubah Kata Sandi <b> - {{ request.session.nama.split | first }}</b></h3>
                    </div>
                    <!-- /.box-header -->
                    <!-- form start -->
                    <div class="col-md-12 col-xs-12 col-lg-12">
                        {% if pesan %}
                        <p class="card-text">
                            <div class="form-group">
                                <div class="col-sm-12">
                                        {% for i in pesan %}
                                        <div class="alert alert-{{i.status}}">
                                        <h5 style="text-align:center; color: white;">{{ i.messages }}</h5>
                                        <input type="hidden" id="status" value="{{i.id}}">
                                    </div>
                                        {% endfor %}
                                </div>
                            </div>
                        </p>
                        {% endif %}
                        <div id="isi">
                        <form class="form-horizontal" action="{% url 'changepassword' pk=user.pk %}" method="POST">
                            {% csrf_token %}
                            <p class="card-text">
                                <div class="form-group">
                                    <label for="username" class="col-sm-6 control-label">Nama Pengguna: </label>
                                    <div class="col-sm-12">
                                        {{form.username}}
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="old_password" class="col-sm-6 control-label">Sandi Lama: </label>
                                    <div class="col-sm-12">
                                        <input type="password" name="old_password" class="form-control" placeholder="Isikan Sandi Lama" required="" id="id_old_password">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="first_name" class="col-sm-6 control-label">Sandi Baru: </label>
                                    <div class="col-sm-12">
                                        {{form.password}}
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="confrim_password" class="col-sm-6 control-label">Konfirmasi Sandi Baru: </label>
                                    <div class="col-sm-12">
                                        <input type="password" name="confrim_password" class="form-control" placeholder="Isikan Sandi Baru" required="" id="id_confrim_password">
                                    </div>
                                </div>
                            </p>
                            <div style="text-align: center;">
                                <button type="button" class="btn" style="background-color:#417690; color: white;" data-toggle="modal" data-target="#myModal">Ubah</button>
                                <input type="button" class="btn" style="background-color: #79aec8; color: white;" value="Batal" onclick="window.location=document.referrer;">
                            </div>
                            <div class="modal fade" id="myModal" style="display: none;">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h4 class="modal-title" style="margin: 0 auto;">Konfirmasi Ubah Password</h4>
                                        </div>
                                        <div class="modal-body">
                                            <p>Apakah anda yakin ingin mengubah password anda ?</p>
                                        </div>
                                        <div class="modal-footer">
                                            <input type="submit" value="Ubah" class="btn" style="background-color:#417690; color: white;"></input>
                                            <button type="button" class="btn" style="background-color:#79aec8; color: white;" data-dismiss="modal">Tidak</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    </div>            
                </div>
            </div>
        </center>
    </section>
    {% endblock %}
    {% block extrajs%}
    <script src="/static/assets/bootstrap/js/bootstrap-select.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
    <script>
        $('#id_username').attr('readonly',true);
        var id = $('#status').val();
        if (id == 1){
            document.getElementById("isi").style.display = "none";
        }
        </script>
        {% endblock %}