{% extends "layout/pengunjung/base_pengunjung.html" %}

{% load static %}
{% load humanize %}
{% load mathfilters %}
{% block content %}
<section class="content-header">
    <div style="text-align: center;">
        {% if request.session.nama %}
        <h3>SELAMAT DATANG {{request.session.nama}}</h3>
        {% else %}
        <h3>SELAMAT DATANG DI SISTEM INFORMASI SEMBILAN HARGA BAHAN POKOK</h3>
        {% endif %}
    </div>
    <br>
    <form action="{% url 'index' %}" method="POST">
    {% csrf_token %}
    <div class="row">
        <div class="col-sm-5">
            <div class="form-group">
                <label>Pilih Nama Pasar</label>
                <div class="input-group">
                    <select class="form-control selectpicker" name="nama_pasar" required data-live-search="True">
                        <option value="">-------</option>
                        {% for list_pasar in pasar %}
                        <option value="{{list_pasar.id}}">{{list_pasar.nama_pasar}}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
        </div>
            <div class="col-sm-5">
                <div class="form-group">
                    <label>Pilih Tanggal</label>
                    <div class="input-group">
                        <input type="text" name="tanggal" class="form-control" placeholder="Tanggal" autocomplete="off" onkeypress="return false;" onkeydown="return false;" required id="id_tanggal">
                    </div>
                </div>
            </div>
            <div class="col-sm-2">
                <div class="form-group">
                    <label>&nbsp;</label>
                    <div class="input-group">
                        <button type="submit" class="btn btn-primary" style="width: auto; height: auto;"> Cari</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
    {% if pencarian != None %}
    {% for i in pencarian %}
    <p class="alert alert-success" style="text-align: center;" >Menampilkan data di {{i.pasar}} pada {{i.tanggal|date:"j F Y"}}</p>
    {% endfor %}
    {% endif %}
    <table class="table table-bordered">
        <thead>
            <tr valign="top" style="text-align: center;">
                <th>Nama Bahan Pokok</th>
                <th>Satuan</th>
                <th>Harga Kemarin</th>
                <th>Harga Sekarang</th>
                <th>Perubahan</th>
            </tr>
        </thead>
        <tbody>
            {% for list_sembako1 in sembakosemua %}
            <tr>
                {% if not list_sembako1.induk %}
                <td colspan = "5" id="exclude"><b>{{ list_sembako1.jenis }}</b></td>
                {% else %}
                <td id="{{ list_sembako1.induk}}">- {{ list_sembako1.jenis }}</td>
                <td id = "satuan">{{ list_sembako1.satuan }}</td>
                {% if not list_sembako1.kemarin == 0 %}
                <td id = "hargakemarin">Rp. {{list_sembako1.kemarin|intcomma}}</td>
                {% else %}
                <td id = "hargakemarin"> - </td>
                {% endif %}
                {% if not list_sembako1.sekarang == 0 %}
                <td id = "hargasekarang">Rp. {{ list_sembako1.sekarang|intcomma}}</td>
                {% else %}
                <td id = "hargasekarang"> - </td>
                {% endif %}
                {% with list_sembako1.perubahan|abs as perubahan %}
                {% if list_sembako1.perubahan > 0 %}
                <td id = "hargaperubahan"><i class="fas fa-angle-up" style="color: red;" ></i> Rp. {{perubahan|intcomma}}</td>
                {% elif list_sembako1.perubahan < 0 %}
                <td id = "hargaperubahan"><i class="fas fa-angle-down" style="color: green;"></i> Rp. {{perubahan|intcomma}}</td>
                {% else %}
                <td id = "hargaperubahan"> - </td>
                {% endif %}
                {% endwith %}
                {% endif %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
</section>
{% endblock content %}
{% block extrajs %}
<script>
    $('#id_tanggal').datepicker({
        format : "yyyy-mm-dd",
        autoclose: true
    });
</script>
{% endblock extrajs %}