{% load static %}
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport" content="width=1,initial-scale=1,user-scalable=1" />
<title>SISHASEMBAPO ~ PD.PASAR KOTA KEDIRI</title>
<!-- FONT MULI -->
<link href="https://fonts.googleapis.com/css?family=Muli:700&display=swap" rel="stylesheet">
<!-- BOOTSTRAP CSS -->
<link rel="stylesheet" type="text/css" href="{% static 'assets_login/bootstrap/css/bootstrap.min.css' %}" />
<!-- LOGIN CSS -->
<link rel="stylesheet" type="text/css" href="{% static 'assets_login/css/styles.css' %}" />
<link rel="icon" href="{% static "Images/kota_kediri.png" %}">
<link rel="stylesheet" type="text/css" href="{% static 'assets_background/css/demo.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'assets_background/css/style1.css' %}" />
<script type="text/javascript" src="{% static 'assets_background/js/modernizr.custom.86080.js' %}"></script>

