{% load static %}
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport" content="width=1,initial-scale=1,user-scalable=1" />
<title>SISHASEMBAKO ~ PD.PASAR KOTA KEDIRI</title>
<!-- FONT MULI -->
<link rel="stylesheet" href="{% static 'fonts/font.css' %}">
<!-- BOOTSTRAP CSS -->
<link rel="stylesheet" type="text/css" href="{% static 'assets_login/bootstrap/css/bootstrap.min.css' %}" />
<!-- LOGIN CSS -->
<link rel="stylesheet" type="text/css" href="{% static 'assets_login/css/styles.css' %}" />
<link rel="icon" href="{% static "Images/kota_kediri.png" %}">

